.abtmeconttext {
    width: 75vw;
    text-align: justify;
    border: 2px solid black;
    margin: 20px;
    padding: 35px;
border-radius: 25px;
background-color: rgb(255, 255, 255);
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(209, 255, 239); */
    color: black;
    text-align: center;
}

.abtmefullcont{
    display: flex;
    justify-content: center;
    background-color: black;
}
p{
text-align: justify;
}


.abtmeh1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}