/* ContactUsForm.css */

.contact-us-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg);
  background-size: 100% 120%;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(255, 0, 0);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}

button:hover {
  background-color: rgb(0, 103, 9)
}

h2 {
  color: rgb(255, 0, 0);
}

.linkclr {
  color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.contact {
  background-image: url(https://img.freepik.com/premium-vector/dotted-world-map-black-background-vector-illustration_541075-470.jpg);
  background-size: 100% 100%;
  width: 60vw;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);

  font-family: 'Times New Roman', Times, serif;
}

.cont1contact {
  font-family: 'Times New Roman', Times, serif;
}

.cont1h1 {
  margin: 20px;
}

/* ContactUsForm.css */


.textboxes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.textboxes input {
  width: 48%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contsmallmargin {
  margin: 60px;
}

.totalpg {
  width: 100vw;
  height: auto;
  display: flex;
  background-color: #000000;
}