/* Footer.css */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 12px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .footer-section {
    max-width: 100vw;
    
  }
  
  h5 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 8px;
    font-size: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  .social-icons{
    font-size: 25px;
    
  }
  .ftabt{

font-size: 18px;
  }

  .link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
  }
  .logoimgftr{
    height: 150px;
    border-radius: 500px;
    margin-right: 25px;
  }
  