/* Footer.css */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 12px;
    height: 35vh;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .footer-section {
    max-width: 100vw;
  }
  
  h5 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 8px;
    font-size: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  .social-icons{
    font-size: 30px;
    
  }
  