/* Homenav.css

#carouselExampleIndicators {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 500px;
  }
  
  .carousel-inner {
    border-radius: 10px;
    overflow: hidden;
    height: 80%; 
  }
  
  .carousel-item {
    text-align: center;
  }
  
  .logoimg {
    width: 80%;
    height: 60%; 
    object-fit: cover;
    border-radius: 10px;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
    font-size: 2rem;
    color: #fff;
  }
  
  .carousel-indicators {
    position: static;
    margin-top: 20px;
  }
  
  .carousel-indicators li {
    background-color: #007BFF;
  }
  
  .carousel-indicators .active {
    background-color: #0056b3;
  }
   */





   