.topdata {
    /* border: 2px solid black; */
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    border-radius: 10px;

}

.h11 {
    font-size: 40px;

}

.contsix {
    display: flex;
    /* background-color: rgb(239, 252, 255); */
    /* border: 2px solid black; */
    justify-content: space-evenly;
    height: auto;
    margin: 10px;
    padding: 15px;
    /* margin-left: 50px;
    margin-right: 50px; */
    text-align: justify;
    text-decoration: none;
}





.topdata h3 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

/* HorizontalScroll.css */

.horizontal-scroll-container {
    width: 100%;
    overflow: hidden;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(43, 0, 255);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
        /* Start off-screen to the right */
    }

    to {
        transform: translateX(-100%);
        /* Move off-screen to the left */
    }
}

.conttwo {
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-evenly;
    margin: 10px;
}

.cont2img {
    height: 200px;
    width: 300px;
}

.cont3img {
    height: 125px;
    width: 200px;
}

.cont6img {
    height: 250px;
    width: 170px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(209, 255, 239);
    color: black;
}

p {
    font-size: 18px;
        text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.contthree {
    display: flex;
    /* background-color: rgb(239, 252, 255); */
    /* border: 2px solid black; */
    justify-content: space-evenly;
    height: auto;
    margin: 50px;
    padding: 15px;
}

.contfour {
    display: flex;
    /* background-color: rgb(239, 252, 255); */
    /* border: 2px solid black; */
    justify-content: space-evenly;
    height: auto;
    margin: 10px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    text-decoration: none;
}


.contfours {
    display: flex;
    /* background-color: rgb(239, 252, 255); */
    /* border: 2px solid black; */
    justify-content: space-evenly;
    height: auto;
    margin: 10px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    text-decoration: none;
}

.LinkWithoutUnderline {
    text-decoration: none;
}

.custom-button {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    transition: transform 0.3s ease;
}

.custom-button:hover {
    background-color: #555;
    /* Change to the desired background color on hover */
    color: #fff;
    /* Change to the desired text color on hover */
    transform: scale(1.1);
    /* Adjust the scale factor for the zoom effect */
}

.pgeneral {
    font-size: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.pgeneralssss{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.pgenerals{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.contfive {
    width: 70vw;
    /* background-color: rgb(239, 252, 255); */
    /* border: 2px solid black; */
    height: auto;
    margin: 10px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.fivemargin {
    display: flex;
    justify-content: center;
}



.cont3img:hover {
    transform: scale(1.2);
}


.abtmeconttext {
    width: 75vw;
    text-align: justify;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
   
    color: black;
}

.abtmefullcont{
    display: flex;
    justify-content: center;
}