.totalintro{
    display: flex;
    justify-content: center;
}


.introtext1{
    width: 95vw;
    padding: 15px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    background-image: url(https://images.wallpaperscraft.com/image/single/man_alone_mountains_160607_3840x2160.jpg);
    background-size:100% 120%;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.introtext1 h2{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: bold;
}