*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.intro-container {
    width: 95vw;
    padding: 15px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: relative;
  }
  
  .intro-container::before {
    content: "";
    background-image: url(https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,q_auto,w_1024/v1/guides/article_cover/un2ragnao4anbcyixeaj);
    background-size: 100% 110%;
    opacity: 0.1; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
  }
  



.intro-container {
    width: 95vw;
    padding: 15px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: relative;
  }
  
  .intro-container::before {
    content: "";
    background-image: url(https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,q_auto,w_1024/v1/guides/article_cover/un2ragnao4anbcyixeaj);
    background-size: 100% 110%;
    opacity: 0.5; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
  }
  


h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;


}



.fontincc{
    font-size: 30px;
    margin-bottom: 20px;
    
    font-family: 'Times New Roman', Times, serif;

}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3007a;
}

.head {
    color: red;
    font-weight: bold;
    font-size: 50px;
}
.logoimgs{
    height: 50px;
    margin-left: 10px;
    border-radius: 50px;
    margin-right: 20px;
}