h1{
    font-family: 'Times New Roman', Times, serif;
}
img{
    border-radius: 10px;
   
}
.locationdata{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
}
.topdata h1{
    color: red;
}
.placedesc{
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    width: 90vw;

}
.placedesc h4{
    margin: 20px;
    font-style: italic;
    font-size: 30px;
    color: blue;
}
.placedesc h6{
    margin: 10px;
    font-size: 20px;
}
.placedesc p{
    text-align: justify;
    margin: 20px;
}
.toalighdata{
display: flex;
justify-content: center;
}
.backth{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px;
}
