/* Body background color */
.Bodys {
  /* background-color: black; */
  background: linear-gradient(to left, rgb(247, 206, 206), black, rgb(226, 252, 226));
  height: 100vh;

  /* background-image: url(https://getwallpapers.com/wallpaper/full/f/b/b/193424.jpg);
background-size: cover; */
}

.Registration-Form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1503220317375-aaad61436b1b?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;
  background-color: rgb(113, 113, 122); /* Blue container background */
  color: #000000;
  font-family: 'Times New Roman', Times, serif;

}

.Registration-Form h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
  margin-right: 15px;
  font-weight: bold;

}

.form-row .col-md-6 {
  flex-basis: calc(50% - 15px);
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s; /* Add a smooth transition for the zoom effect */
}

.form-control:hover {
  transform: scale(1.05); /* Zoom effect on hover */
}

button.btn-dark {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

button.btn-dark:hover {
  background-color: #c91010; /* Darker background color on hover */
  transform: scale(1.05);
}

button.btn-dark a {
  color: #fff;
  text-decoration: none;
}
