.totalcountry{
    display: flex;
    justify-content: center;
}


.country {
    width: 95vw;
    padding: 15px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    /* font-weight: bold; */
    color: rgb(0, 0, 0);
    border-radius: 20px;

    position: relative; /* Set the position to relative */
  }
  
  .country::before {
    content: "";
    background-image: url(https://www.holidify.com/images/bgImages/THAILAND.jpg);
    background-size: 100% 110%;
    opacity: 0.6; /* Adjust the opacity value as needed */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place the pseudo-element behind the content */
    border-radius: inherit; /* Inherit border radius from the parent element */
  }
  .country h2{
    text-align: center;
    font-weight: bold;
    color: black;
  }
  

.countrynamecards{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 5px;
    color: red;
}

.cards {
    width: 90vw;
    display: flex;
    justify-content: center; /* Center align the cards horizontally */
    font-family: 'Times New Roman', Times, serif;
    align-items: center; /* Center align the cards vertically */
    gap: 20px; /* Add space between the cards */
    text-decoration: none;
    color: white;
  }

.alighmiddle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 25px;
}  
/* Add this CSS to your styles */
.custom-button {
  background-color: #007BFF; /* Change the color to your desired one */
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

.custom-button:hover {
  background-color: #0056b3; /* Change the color for the hover effect */
}

.link {
  text-decoration: none; /* Remove underline from the link */
  color: white; /* Change link color to match the button */
}

.link:hover {
  color: white; /* Change link color for the hover effect */
}
